html, body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{ 
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: start;
    vertical-align: top;
}

#container{ 
    margin-top: 10%;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: rgb(143, 23, 255);
    width: 80%;
    border-radius: 8px;
    padding: 20px;
}

#left{ 
    width: 70%;
}

#left{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#first_row{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


#one, #two{ 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#one p{ 
    font-size: large;
    margin-right: 20px;
}

#one input{ 
    outline: none;
    border: 1px solid white;
    background-color: rgb(180, 99, 255);
    height: 25px;
    width: 110px;
    border-radius: 4px;
    color: white;
    font-size: large;
}

#two p{ 
    font-size: large;
    margin-right: 20px;
}
#two select{ 
    outline: none;
    border: none; 
    background-color: rgb(180, 99, 255);
    height: 25px;
    width: 110px;
    border-radius: 4px;
    color: white;
    font-size: large;

}

#second_row{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#second_row div{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    font-size: large;
}

#second_row select{ 
    outline: none;
    border: none; 
    background-color: rgb(180, 99, 255);
    height: 25px;
    width: 110px;
    border-radius: 4px;
    color: white;
    font-size: large;
}


button{ 
    background-color: transparent;
    color: white;
    border: 2px solid white;
    height: 30px;
    width: 100px;
    font-weight: 400;
    font-size: large;
    border-radius: 4px;
}

button:hover{ 
    color: blueviolet;
    border: none;
    background-color: white;
}

#pic{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{ 
    color: black;
    display: flex;
    text-align: center; /* Center the text */
    padding: 20px; /* Add some padding */
    margin-top: auto;
}

footer a{ 
    text-decoration: none;
    color: blueviolet;
    font-weight: bolder;
}

@media(max-width: 1200px){ 
    
    #one p , #two p{ 
        font-size: medium;
    }

    #second_row div p { 
        font-size: medium;
    }

    #second_row div{ 
        margin-right: 10px;
    }

}

@media(max-width: 1120px){
    
    html, body{ 
        font-family: Arial, Helvetica, sans-serif;
        /* margin: 0; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
    }

    #container{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
        height: 80%;
        
    }

    #left{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #first_row, #second_row{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #second_row div{ 
        margin: 0; 
        margin-bottom: 10px;
    }

    h1{ 
        margin-top: 20px;
    }

    #one , #two { 
        width: 85%;
    }
}

@media(max-width: 520px){ 

    h1{ 
        margin-top: 35px;
    }
    #second_row select, #first_row select{ 
        font-size: small;
    }

    button{ 
        font-size: small;
        width: 60px;
        height: 20px;
        margin-top: 20px;
    }

    #image{ 
        margin-bottom: 0;
        padding: 0;
    }

    #pic{ 
        margin-bottom: 0;
        padding: 0;
    }


    
}

@media (max-width: 620px) {

    #line{ 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: medium;
    }
    
}


@media(max-width: 443px){ 
    #container{ 
        height: 70%;
    }

    #pic img{ 
        display: none;
    }
}

#pic div{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}